{% extends 'base.html.twig' %}

{% block title %}Election index{% endblock %}

{% block body %}
    <h1>Election index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateElection</th>
                <th>Pays</th>
                <th>Voter</th>
                <th>Participant</th>
                <th>Voir Resultat</th>
                <th>Terminer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for election in elections %}
            <tr>
                <td>{{ election.id }}</td>
                <td>{{ election.DateElection ? election.DateElection|date('Y-m-d') : '' }}</td>
                <td>{{election.Pays.Nompays}}</td>
                <td><a href="{{ path('listecandidat', {'idelection': election.id}) }}">Voter</a></td>
                <td><a href="/president/liste/{{election.id}}">Participant</a></td>
                <td><a href="{{ path('ficheElection', {'id': election.id}) }}">Resultat</a></td>
                 <td><a href="/election/finir/{{election.id}}">Finir </a></td>
                <td>
                    <a href="{{ path('election_show', {'id': election.id}) }}">show</a>
                    <a href="{{ path('election_edit', {'id': election.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('election_new') }}">Create new</a>
  
{% endblock %}
