{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}


<h1>Reultat Final</h1>

    <table class="table">
        <thead>
           <th>Nom</th>
           <th>Voie Totale</th>

        </thead>
        {% for resultat in resultats %}
        <tbody>
       <th>{{resultat["nom"]}}</th>
      <th>{{resultat["Nombre"]}}</th>
        
   
        </tbody>
        {% endfor %}
    </table>



<h1>Resultat des vote sur Chaque Etat</h1>

    <table class="table">
        <thead>
            <th>President</th>
            <th>Etat</th>
            <th>Voie Obtenu</th>

        </thead>
        {% for votant in votants %}
        <tbody>
            <td>{{ votant.President.nom }}</td>
            <td>{{ votant.Etat.reference }}</td>
            <td>{{votant.nombre}}%</td>
   
        </tbody>
        {% endfor %}
    </table>

{% endblock %}